<script lang="ts">
	import { onMount } from 'svelte';
	import * as THREE from 'three';
	import { OrbitControls } from 'three/examples/jsm/controls/OrbitControls';
	import { Engine } from '$scripts/engine/Engine';
	import { Scene } from '$scripts/scene/Scene';
	import type { PerspectiveCamera } from '$scripts/camera/PerspectiveCamera';

	/**
	 * The instance of the engine
	 */
	let engine: Engine;

	/**
	 * The button's text.
	 */
	let buttonText = 'Pause';

	onMount(() => {
		const canvas: HTMLCanvasElement = document.getElementById('renderer') as HTMLCanvasElement;
		engine = new Engine(canvas, { antialias: false, pixelRatio: window.devicePixelRatio });
		const activeScene = new Scene();
		engine.run(activeScene);

		const light = new THREE.DirectionalLight(new THREE.Color(0xff0000), 1);
		light.position.set(0, 1, 0);
		activeScene?.add(light);

		const geometry = new THREE.BoxGeometry(1, 1, 1);
		const material = new THREE.MeshBasicMaterial({ color: 0x00ff00 });
		const cube = new THREE.Mesh(geometry, material);
		activeScene?.add(cube);

		const camera = activeScene?.getActiveCamera() as PerspectiveCamera;

		if (camera) {
			camera.aspect = window.innerWidth / window.innerHeight;
			camera.updateProjectionMatrix();

			const controls = new OrbitControls(camera, canvas);

			controls.update();

			camera.position.set(0, 0, 5);

			window.addEventListener('resize', () => {
				camera.aspect = window.innerWidth / window.innerHeight;
				camera.updateProjectionMatrix();
				engine.resize();
			});
		}
	});

	/**
	 * Pause or run the loop from the engine
	 */
	function handlePause(): void {
		if (!engine) return;
		if (engine.isRunning) {
			engine.pause();
			buttonText = 'Run';
			return;
		}
		engine.run();
		buttonText = 'Pause';
	}
</script>

<canvas class="renderer" id="renderer" />
<button on:click={handlePause}>{buttonText}</button>
