* {
	box-sizing: border-box;
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-decoration: none;
}

:root {
	font-size: 16px;
}

html,
body {
	height: 100%;
	width: 100%;
}

.renderer {
	height: 50% !important;
	outline: none;
	width: 50% !important;
}
